h1 {
    background-color: #fd89d1;
}

body {
    margin: 10px;
    background-color: #fd89d1;
}

.logo {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 100px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes dropIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideInLeft {
    from { transform: translateX(-100vw); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(2); opacity: 0.1; }
}

.logo-companion {
    font-size: 3rem;
    line-height: 1;
    animation: fadeIn 1s ease-in-out;
}

.logo-life {
    line-height: 1;
    font-size: 2.15rem;
    margin-bottom: -22px;
    margin-left: -95px;
    animation: dropIn 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.daily-prompt {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
    animation: slideInLeft 1s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.begin-wrapper {
    position: relative;
    width: fit-content;
    margin: 50px auto;
}

.begin-button {
    display: block;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #fff;
    border: 2px solid #af0083;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.pulse {
    position: absolute;
    inset: 0;

    border: 2px solid #fff;
    border-radius: 8px;

    pointer-events: none;
    
    opacity: 0;
}

.pulse-1 {
    animation: pulse 2s infinite;
    animation-delay: 4s;
}

.pulse-2 {
    animation: pulse 2s infinite;
    animation-delay: 4.5s;
}

.pulse-3 {
    animation: pulse 2s infinite;
    animation-delay: 5s;
}